# Git
.git
.gitignore

# Docker
docker-compose.yml
.docker
.dockerignore
Dockerfile

# Virtual environment
.env/
.venv/
venv/
.env.*

README.md

#
# OS X
#
.DS_Store
.AppleDouble
.LSOverride

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

# General
.DS_Store
